// colors
$body-text-color: #000;
$primary-color: #036; // standard StMU Blue
$secondary-color: #f2bf49; // standard StMU Gold
$dark-blue: #025; // for background stripes; meets contrast requirements
$blue-link: #05c;
$blue-link-hover: #048;
$gold-link:#b80; // darker gold to meet contrast requirements
$gold-link-hover: #a80;
$lighter-gold: #fc6; // lighter gold to meet contrast requirements
$gray: #555;
$light-gray: #ddd;
$med-gray: #888;
$light-blue: #eeeeea;
// values
$border-radius: 4px;