figure.donut { display:flex; justify-content:space-around; flex-direction:column; margin:0; }
@media screen and (min-width:600px) {
    figure.donut { flex-direction:row; }
}
figure.donut .figure-content, figure.donut>figcaption { flex:1; padding:.2em; align-self:center; }
.donut svg { display:block; margin:0 auto; width:300px; height:300px; text-align:center; }
.donut-segment { stroke-dashoffset:25; }
.chart-text {
    font-size:16px;
    line-spacing:1.4em;
    fill: #000;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
}
.large-text {
    font-size: 0.6em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}
.small-text {
    font-size: 0.2em;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}
ul.figure-key-list { list-style-type:none; margin:0; }
.shape-circle { display:inline-block; vertical-align:middle; margin-right:.3em; width:20px; height:20px; border-radius:50%; border:1px solid #000; }
.shape-blue { background-color:#036; }
.shape-gold { background-color:#f2bf49; }