.wp-block-stmu-stat { padding:.5em; margin-bottom:1em; text-align:center; color:#036; }
.wp-block-stmu-stat.is-style-bordered { background:#fff; border:2px solid #999; }
.wp-block-stmu-stat.is-style-gold { background:#f2bf49; border:2px solid #999; }
.wp-block-stmu-stat.is-style-blue { background:#036; border:2px solid #036; color:#fff; }
.wp-block-stmu-stat i { font-size:4em; }
.large-stat { font-size:3em; line-height:1; }