.wp-block-stmu-post-connector .components-base-control { width:100%; margin-bottom:.7em; }
.wp-block-stmu-post-connector .components-base-control__field { display:flex; }
.wp-block-stmu-post-connector .components-base-control__label { width:120px; }